* {
  scroll-behavior: smooth;
}
/* 
@font-face {
  font-family: "Exo-Regular";
  src: local("Exo-Regular"),
    url("./assets/font/Exo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Exo-Light";
  src: local("Exo-Light"), url("./assets/font/Exo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Exo-SemiBold";
  src: local("Exo-SemiBold"),
    url("./assets/font/Exo-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Exo-Medium";
  src: local("Exo-Medium"),
    url("./assets/font/Exo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Exo-Bold";
  src: local("Exo-Bold"), url("./assets/font/Exo-Bold.ttf") format("truetype");
}

.Exo-Regular {
  font-family: Exo-Regular, Arial, serif;
}

.Exo-Light {
  font-family: Exo-Light, Arial, serif;
}

.Exo-Bold {
  font-family: Exo-Bold, Arial, serif;
}

.Exo-SemiBold {
  font-family: Exo-SemiBold, Arial, serif;
}

.Exo-Medium {
  font-family: Exo-Medium, Arial, serif;
}

.input-field {
  position: relative;
  display: block;
  width: 100%;
  font-weight: 400;
  color: white;
  outline: none;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
}

input[id="dailytodo"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  filter: invert(1);
  opacity: 1;
  display: block;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border-width: thin;
}
input[id="dailytodo"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 10%;
}
input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 15%;
}
input::-webkit-datetime-edit {
  position: relative;
  left: 15%;
} */
